<h1>Job Listings</h1>

<div ng-app="app">
  {{ 1 + 1 }}
</div>
</div>


<h5> <a href="/jobs/new"> New job listing: </a></h5>
<div>
<p> -----------------------------------------------------------------</p>
<h2>Jobs I haven't applied to yet: </h2>
<p><% @jobs1.each do |job| %></p>
<p>Company: <%= job.company %></p>
<p>Position: <%= job.position %></p>
<p>Source: <%= job.source %></p>
<p>Found_date: <%= job.found_date %></p>
<p>City: <%= job.city %></p>
<p> <a href="/jobs/<%= job.id %>">See listing details </a> </p>
<br>
<br>
<% end %>
 </div>
<p> -----------------------------------------------------------------</p>

<div>
<h2>Jobs I am applying to: </h2>
<p><% @jobs2.each do |job| %></p>
<p>Company: <%= job.company %></p>
<p>Position: <%= job.position %></p>
<p>Source: <%= job.source %></p>
<p>Found_date: <%= job.found_date %></p>
<p>City: <%= job.city %></p>
<p> <a href="/jobs/<%= job.id %>">See listing details </a> </p>
<br>
<br>
<% end %>
</div>
<p> -----------------------------------------------------------------</p>

<div>
<h2>Jobs I applied to: </h2>
<p><% @jobs3.each do |job| %></p>
<p>Company: <%= job.company %></p>
<p>Position: <%= job.position %></p>
<p>Source: <%= job.source %></p>
<p>Found_date: <%= job.found_date %></p>
<p>City: <%= job.city %></p>
<p> <a href="/jobs/<%= job.id %>">See listing details </a> </p>
<br>
<br>
<% end %>
</div>
<p> -----------------------------------------------------------------</p>

<div>
<h2>Jobs I got an interview with: </h2>
<p><% @jobs4.each do |job| %></p>
<p>Company: <%= job.company %></p>
<p>Position: <%= job.position %></p>
<p>Source: <%= job.source %></p>
<p>Found_date: <%= job.found_date %></p>
<p>City: <%= job.city %></p>
<p> <a href="/jobs/<%= job.id %>">See listing details </a> </p>
<br>
<br>
<% end %>
</div>
<p> -----------------------------------------------------------------</p>

<div>
<h2>Jobs I interviewed with: </h2>
<p><% @jobs5.each do |job| %></p>
<p>Company: <%= job.company %></p>
<p>Position: <%= job.position %></p>
<p>Source: <%= job.source %></p>
<p>Found_date: <%= job.found_date %></p>
<p>City: <%= job.city %></p>
<p> <a href="/jobs/<%= job.id %>">See listing details </a> </p>
<br>
<br>
<% end %>
</div>
<p> -----------------------------------------------------------------</p>

<div>
<h2>Jobs I've received offers from: </h2>
<p><% @jobs6.each do |job| %></p>
<p>Company: <%= job.company %></p>
<p>Position: <%= job.position %></p>
<p>Source: <%= job.source %></p>
<p>Found_date: <%= job.found_date %></p>
<p>City: <%= job.city %></p>
<p> <a href="/jobs/<%= job.id %>">See listing details </a> </p>
<br>
<br>
<% end %>
</div>
<p> -----------------------------------------------------------------</p>



