<h1> Add a new job listing to your grid: </h1>

<h1>New Job Listing:</h1>


<%= form_tag '/jobs', method: :post do %>
  <div class = "form-group">
    <%= label_tag :company %>
    <%= text_field_tag :company, @job.company, class: "form-control"  %>
  </div>
  <div class = "form-group">
    <%= label_tag :position  %>
    <%= text_field_tag :position, @job.position, class: "form-control"   %>
  </div>
  <div class = "form-group">
    <%= label_tag :status  %>
    <%= text_field_tag :status, @job.status, class: "form-control"   %>
  </div>
  <div class = "form-group">
    <%= label_tag :source  %>
    <%= text_field_tag :source, @job.source, class: "form-control"  %>
  </div>
  <div class = "form-group">
    <%= label_tag :found_date  %>
    <%= text_field_tag :found_date, @job.found_date, class: "form-control"  %>
  </div>
  <div class = "form-group">
    <%= label_tag :listing_url  %>
    <%= text_field_tag :listing_url, @job.listing_url, class: "form-control"  %>
  </div>
  <div class = "form-group">
    <%= label_tag :address  %>
    <%= text_field_tag :address, @job.address, class: "form-control"  %>
  </div>
  <div class = "form-group">
    <%= label_tag :city  %>
    <%= text_field_tag :city, @job.city, class: "form-control"  %>
  </div>
  <div class = "form-group">
    <%= label_tag :state  %>
    <%= text_field_tag :state, @job.state, class: "form-control"  %>
  </div>
  <div class = "form-group">
    <%= submit_tag "Add job" %>
  </div>
  <a href = "/jobs/"><p> cancel </p></a>
<% end %>


