<h3> Job listing details: </h3>
<p>Company: <%= @job.company %></p>
<p>Position: <%= @job.position %></p>
<p>Source: <%= @job.source %></p>
<p>Found_date: <%= @job.found_date %></p>
<p>Listing_url: <%= @job.listing_url %></p>
<p>Address: <%= @job.address %></p>
<p>City: <%= @job.city %></p>
<p>State: <%= @job.state %></p>
<p>Zip_code: <%= @job.zip_code.upcase if @job.zip_code %></p>
<p>Phone_number: <%= @job.phone_number %></p>
<p>Status: <%= @job.status %></p>
<p>Skills: <% @skills.each do |skill| %></p>
<p> <%= skill.name %> </p>
<% end %>

<p><%= link_to "Add skill", "/jobs/#{@job.id}/job_skills/new", class: "btn btn-success"%></p>

<h5> <a href="/jobs/<%= @job.id %>/edit"> Edit this job </a></h5>

<h5> <a href="/jobs"> Back to all jobs </a></h5>

