<h3> Networking connection details: </h3>
<h4><%= @networking.first_name %> <%= @networking.last_name %></h4>
<h5>Date first contacted: <%= @networking.date_contacted %></h5>
<h5>Email address: <%= @networking.email%></h5>
<h5>Job: <%= @job.company %></h5>
<h5>Emailed? <%= @networking.emailed %></h5>
<h5>Phoned? <%= @networking.phoned%></h5>
<h5>Letter sent? <%= @networking.letter_sent%></h5>
<h5>Notes: <%= @networking.notes %></h5>


<p><%= link_to "Add networking connection", "/networkings/new", class: "btn btn-success"%></p>


<h5> <a href="/networkings"> Back to all networkings </a></h5>

<h5> <a href="/jobs"> Back to all jobs </a></h5>
