<h4> Networking connection details: </h4>
<div class="row card-panel grey lighten-2">
  <h5><%= @networking.first_name %> <%= @networking.last_name %></h5>
  <br>
  <div class="row">
    <div class="col s3">Date first contacted</div> 
    <div class="col s5"> <%= @networking.date_contacted %></div>
  </div>
  <div class="row">
    <div class="col s3">Email Address</div> 
    <div class="col s5"> <%= @networking.email%></div>
  </div>
  <div class="row">
    <div class="col s3">Related Job Listing</div> 
    <div class="col s5"> <%= @job.company %>></div>
  </div>
  <div class="row">
    <div class="col s3">Emailed?</div> 
    <div class="col s5"> <%= @networking.emailed %></div>
  </div>
  <div class="row">
    <div class="col s3">Phoned?</div> 
    <div class="col s5"> <%= @networking.phoned%></div>
  </div>
  <div class="row">
    <div class="col s3">Letter Sent?</div> 
    <div class="col s5"> <%= @networking.letter_sent%></div>
  </div>
  <div class="row">
    <div class="col s3">Notes</div> 
    <div class="col s5"> <%= @networking.notes %></div>
  </div>          
</div>

<p><%= link_to "Add networking connection", "/networkings/new", class: "btn btn-success"%></p>

<h5> <a href="/networkings/<%=@networking.id%>/edit"> Edit this connection</a></h5>

<h5> <a href="/networkings"> Back to all networkings </a></h5>

<h5> <a href="/jobs"> Back to all jobs </a></h5>
