<h1>Add a skill to this job listing</h1>
<p> Existing skills: 
<br>
<% @skills_for_this_job.each do |skill| %>
  <%= skill.name %>
  <br> 
  <% end %>
</p>
<%= form_tag "/jobs/#{@job.id}/job_skills", method: :post do  %>
  <div>
    <%= label_tag :skill_id, "Skill ID" %>
    <%= text_field_tag :skill_id %>
  </div>
  <%= submit_tag "Submit" %>
<% end %>

<div>  
<p>
<% @skills.each do |skill| %>
<%= skill.id %>. 
<%= skill.name %>
<br>
<% end %>
</p>
</div>

<a href = "/jobs/"><p> cancel </p></a>
