<!DOCTYPE html>
<html>
  <head>
    <title>JobHunter</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <!-- javascript -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!-- Google font API -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= csrf_meta_tags %>

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

    <!-- JavaScript for: jQuery, angular, materialize, and angular-materialize. All of which are needed. -->
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script> -->
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.1/angular-materialize.min.js"></script> -->

    <!-- Your app -->

  </head>
  <body>
    <nav>
      <div class="nav-wrapper orange">
        <a href="/" class="brand-logo center">Job Hunter</a>
        <!-- <%= image_tag "cute_tiger.jpg", class:"tiger" %> -->
        <!-- Dropdown Structure -->
              <ul id="dropdown1" class="dropdown-content">
                <li><a href="/search">Indeed Search</a></li>
                <li><a href="#!">two</a></li>
                <li class="divider"></li>
                <li><a href="#!">three</a></li>
              </ul>        
              <ul class="right hide-on-med-and-down">
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">More<i class="material-icons right">arrow_drop_down</i></a></li>
              </ul>
       <!--    End -->
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="left hide-on-med-and-down">
          <li><a href="/jobs/new">New Job</a></li>
          <li><a href="/networkings">Networking</a></li>
          <li><a class="waves-effect waves-light btn modal-trigger" href="#modal2">Indeed Search</a></li>

        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/jobs">My Job Listings</a></li>
          <li><a href="/jobs/new">New Job</a></li>
          <li><a href="/networkings">Networking</a></li>
          <li><a href="/networkings/new">New Networking</a></li>
          <li><a class="waves-effect waves-light btn modal-trigger" href="#modal2">Indeed Search</a></li>
          
        </ul>
        <ul class="right">

          <li><a class="waves-effect waves-light btn modal-trigger" href="#modal1">Quick-Add Job</a></li>


        <% if current_user %>
         <%= current_user.first_name %>
         <% end %>
              <% unless current_user %>
                <li><a href="/signup">Sign up</a></li>
              <% end %>
              <% unless current_user %>
                <li><a href="/login">Log in</a></li>
              <% end %>
              <% if current_user %>  
                <li><a href="/logout">Log out</a></li>
              <% end %> 
        </ul>
      </div>
    </nav>

    <div class="container">
      <% flash.each do |name, message| %>
        <div class="alert alert-<%= name %> alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span>&times;</span><span class="sr-only">Close</span></button>
        <%= message.html_safe %>
        </div>
        <% end %>

      <%= yield %>
    </div>
 <script> 
  $( document ).ready(function(){
    $(".button-collapse").sideNav(); 
  });

  $(".dropdown-button").dropdown();

 </script> 


  </body>
</html>
